@font-face {
  font-family: 'United Sans';
  src: url('fonts/United Sans Reg Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'United Sans';
    overflow: hidden;
}
.loading-text {
    display: flex;
    overflow: hidden;
    height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Ubuntu Mono", monospace;
}
.middle-logo {
  display: none;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 7rem;
}
.middle-logo .main-span {
  cursor: text;
  padding: 1rem 3rem 0.5rem 3rem;
  border-bottom: 1px solid white;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  clip-path: inset(0 0 50% 0);
  color: white;
  transform: translate(-2px, -1px);
}


.glitch::after {
  content: attr(data-text);
  position: absolute;
  clip-path: inset(50% 0 0 0);
  color: #8a8a8a;
  transform: translate(1px, 1px);
}

.dashboard {
  display: block;
  height: 100vh;
  width: 100vw;
}

.dashboard .top {
  display: flex;
  height: 70vh;
}

.dashboard .top .left-box,  .dashboard .top .right-box{
  width: 20vw;
}

.dashboard .top .middle-box {
  width: 60vw;
  border: 1px solid white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0.3rem;
}

.dashboard .bottom {
  display: flex;
  height: 30vh;
}

.dashboard .bottom div {
  width: 50vw;
}

.left-box {
  padding: 0.5rem;
}

#left-box-top {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}
#time {
  text-align: center;
  font-size: 3rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#time span {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}
#basics {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
#basics div{
  display: flex;
  flex-direction: column;
}
.grayed {
  opacity: 50%;
}
